*{
  padding:0;
  margin:0;
}

body {
  background-color: black;
  font-size: 15px;
  font-family: serif;
  color: grey;
}

#nav{
  gap: 13px;
  color:goldenrod;
  padding: 8px;
  background-color: black;
  
}

li{
  list-style: none;
   
}

a{
  color:goldenrod;
  text-decoration: none; 
}

ul{
  display:flex;
  flex-direction: row;
  gap:15px;
  margin-left: 120vh;
}

#hero-h{
  color: gold;
  font-size:40px;
  text-align: center;
}

h2{
  font-size: 25px;
  color: gold;
}
span{
  color:gold;
  font-size: 23px;
}
p{
  color: goldenrod;
}

#hero-par{
color: grey;
font-size: 30px;
margin: 20vh;
}

.hero {
  background-image: url("image/img1.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh; 
  position: relative;

}

#card-content{
  display: flex;
  gap: 34px;
  margin-top:45px;
}

.card ,.card1,.card2{
  background: black;
  padding:50px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border-color: whitesmoke;
  border-style: ridge;
  color:darkgrey;
  height: 35vh;
  max-width: 35vh;
}

.card1{
  border-color:goldenrod;
}

#login{
  background-color:goldenrod;
  padding: 5px;
  width: 60px;
  border-radius: 6px;
  border-style: none;
  border-color: black;
}

#signup, #learnmore{
    margin-left: 50vh;
    width: 18%;
    padding: 15px;
    background-color:goldenrod;
    border-radius: 6px;
    border-style: none;
    border-color: black;
}

#learnmore{
  margin-left: 35px;
  background: rgba(0, 0, 0, 0.2);
  color:goldenrod;
  font-size: 15px;
}
#sms{
  color: gold;
  font-size: 34px;
  text-align: center;
  margin-top: 35px;

}

p{
  color: gray;
  margin-top: 12px;
  text-align: center;
}

#Premium{
  padding: 10px;
  width:90%;
  border-radius: 8px;
  background-color: goldenrod;
  font-size: 14px;
}